body

div.main {
  max-width: 900px;
  margin: 0 auto;
}
img {
  max-width: 30%;
  align-self: center;

}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 14px;
  font-style: italic;
}

h3 {
font-size: 24px;
font-family: sans-serif;
}

p {font-family: sans-serif;}

.headline {
background-color: #cc99ff;
border-radius: 10px;
padding-top: 5px;
padding-bottom: 5px;
color: #006600

}

.byline {
  margin-left: 25px;
  flex-wrap: wrap;
  flex-direction: row;
}

.text {
  text-align: left;
  margin-left: 10px;
}

#icon-grid {
  display: flex;
  flex-wrap: wrap;
}
.icon-content {
  width: 250px;
  height: 400px;
  border: 2px solid lightblue;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

}

.finance-icon-content {
  width: 250px;
  height: 400px;
  border: 2px solid orange;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

}

.icon {
  flex-wrap: wrap;
  flex-direction: row;
}



/* FOR SMALLER SCREENS */
@media (max-width: 700px) {
  body {
width: 100%;
  }
.icon {
  width: 100%;
}
.icon-content {
  width: 100%;
  }
